body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #191B1F;
}

@font-face {
  font-family: Domine;
  src: url(https://fonts.google.com/specimen/Domine);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #191B1F;
  border-bottom: 3px solid #ffd700;
  position: relative;
  z-index: 2; /* Sæt en z-index for at placere header foran baggrunden */
}

.logo img {
  width: 49px;
  height: 49px;
}

.button {
  background-color: #F4D813;
  
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  width: 93px;
  height: 25px;

}

.button p {
  background-color: transparent;
  color: #0A0B0C;
  padding-left: 6px;
  font-weight: bold;
  font-size: 11px;
  font-family: Domine; 
}
.button img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 3px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 35px;
  z-index: 1; /* Sæt en z-index for at placere container foran baggrunden */
}

h1 {
  font-size: 25px;
  color: white;
  padding-top: 10px;
  font-family: Domine;
}

p {
  font-size: 12px;
  font-family: Domine;
  color: white;
  background-color: #24282C;
  border: 5px, 0px, 5px, 0px;
  padding: 10px;
}

#gultekst {
  color: #F4D813;
}

.button2 {
  background-color: #F4D813;
  color: #000000;
  font-size: 15px;
  font-family: Domine;
  width: 228px;
  height: 48px;
  padding: 10px 20px;
  border: none;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.background-container {
  position: absolute;
  background-color: #191B1F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 45px;
  z-index: 0; 
}

@media screen and (min-width: 768px) {
  .button {
    border-radius: 30px;
    font-size: 19px;
    width: 230px;
    height: 51px;
    position: relative;
  }

  .button.button {
    margin-right: 500px;
  }

  .button p {
    font-size: 20px;
    margin-left: 35px;
  }

  .button img {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    right: 20px; /* Juster denne værdi efter behov for at indstille den ønskede afstand til højre for billedet */
  }
  .logo img {
    width: 81px;
    height: 81px;
    margin-left: 320px;
  }
}
