/* CSS-styling for chatgrænsefladen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #181B1F;
}

.chat-container {
    flex: 1;
    overflow-y: scroll;
    padding: 16px;
}

.options button {
    background-color: #EFEFEF;
    border: none;
    margin: 2px 2px 2px 8px;
    border-radius: 6px;
    text-align: left;
    padding: 10px 12px;
    max-width: 32vh;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.user-input {
    display: flex;
    padding: 15px;
}

input {
    flex: 1;
    padding: 10px;
}

#chat-container {
    display: flex;
    flex-direction: column;
}

img.ai-pic {
    width: 15%;
}

.ai {
    align-self: flex-start;
    background-color: #4D5351;
    color: white;
    padding: 10px 12px;
    margin: 8px;
    border-radius: 8px;
    max-width: 32.5vh;
}

.user {
    align-self: flex-end;
    background-color: #00624D;
    color: white;
    padding: 10px 12px;
    margin: 16px 8px 8px 8px;
    border-radius: 8px;
    max-width: 32.5vh;
}

.user-input {
    display: flex;
}

.user-input input {
    flex-grow: 2;
    border: none;
}

.user-input button {
    background: white;
    border: none;
}